.course-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
  padding: 20px;
  max-width: 1500px;
  width: 100%;
}

@media (max-width: 768px) {
  .course-list {
    justify-content: center;
    grid-template-columns: 1fr;
    place-items: center; 
  }
}
